/* h1 heading tag for contact list */
h1 {
  margin-bottom: 40px;
  color: black;
}

body {
  width: 100%;
  height: 100vh;
  background-image: url(../src/assets/bg1.jpg);
  background-size: contain;
  background-repeat: initial;
  display: flex;
  overflow: hidden;
  justify-content: end;
}

/* contact list */
.contact-list {
  display: flex;
}

/* full div for contact list */
.contactContainer {
  width: 80%;
  height: 30rem;
  margin: auto;
  margin-top: 40px;
  min-width: 400px;
  background: #C0E0ED;
}

.contactlistContainer {
  height: 30rem;
  z-index: 99999;
  overflow-y: scroll;
}

/* contact box shadow */
.contactBox {
  box-shadow: 3px 2px 10px 2px;
}

/* Resize image  */
.contactContainer h1 img {
  background: fixed;
  width: 42px;
}

/* styling  ul tag */
.contactContainer ul {
  list-style-type: none;
  /* Remove bullets */
  padding: 0;
  /* Remove padding */
  margin: 0;
  /* Remove margins */
}

/* contact list heading */
.contactListHeading {
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
  font-size: 40px;
  color: black;
  background-color: #bb00ff;
}

/* contact heading icons */
.contactIcons {
  width: 22px;
}

/* contact heading styling */
.contacHeadingElement {
  width: 30%;
  display: flex;
  margin-left: 5px;
  align-content: start;
}

/* contact list styling */
.contactList {
  display: flex;
  height: 40px;
  justify-content: space-around;
  align-items: center;
  color: black;
  border-bottom: 2px solid rebeccapurple;
}

/* li tag odd line styling */
.contactList:nth-child(2n + 1) {
  background-color: #87BACF;
}

/* contact list hover style */
.contactList:hover {
  background-color: #87BACF;
}

/* adjust contact list elements */
.contactElement {
  width: 30%;
  display: flex;
  margin-left: 5px;
  align-content: start;
}

/* button div */
.BtnDiv {
  width: 70px;
}

/* edit and delete btn */
.editAndDeleteBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

/* contact list button */
.contactListFormbtn {
  border: none;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}

/* contact icon button */
.contactIconsbtn {
  width: 35px;
  margin: .5rem 1.5rem;
  text-align: center;
}

/* contact form styling */
.contactListForm {
  width: 80rem;
  /* border: 2px solid red; */
}

.contactListForm form {
  width: 64rem;
  display: flex;
  justify-content: end;
  align-items: center;
  /* border: 2px solid red; */
}

/* input box styling */
.contactListForm form input {
  height: 40px;
  font-size: 17px;
  outline: none;
  background-color: transparent;
}


/* modal css */

/* Set a style for all buttons */
.btn {
  background-color: #04aa6d;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.btn:hover {
  opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelBtn,
.saveBtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelBtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.saveBtn {
  background-color: #1fc23a;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modalContent {
  background-color: #fefefe;
  margin: 5% auto 15% auto;
  /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%;
  /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearFix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */